AI Smart Task Manager.json
{
  "name": "AI Smart Task Manager (Switch Node) 01",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Smart Task Manager ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Task Title"
            },
            {
              "fieldLabel": "Task Description"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1088,
        -96
      ],
      "id": "410da7b0-5188-414c-9c2d-1ae235110eac",
      "name": "On form submission",
      "webhookId": "63cc022b-5730-42cb-b632-5baec445f167"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "HIGH",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a92c9faf-7a36-4d60-8d65-0c9607956e33"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0fea9825-e51b-49c5-9acc-6a79b6ab8591",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "MEDIUM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medium"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2c466289-7166-48c4-926d-f7ba799ecf11",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "LOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -336,
        -112
      ],
      "id": "ee31f854-34eb-4a5d-bd5e-42ba7343d881",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Task Priority Classifier.\n\nYou will receive:\n- Task Title\n- Task Description\n\nTitle: {{ $json.Task }}\nDescription: {{ $json.Description }}\n\nYour job is to classify the task priority.\n\nPriority Rules:\n\nHIGH:\n- Urgent issues\n- Server down\n- Payment failure\n- Security issue\n- Customer complaints\n- System crash\n- Deadline today\n\nMEDIUM:\n- Normal work tasks\n- Feature updates\n- Meetings\n- Reports\n- Follow-ups\n\nLOW:\n- Minor edits\n- Suggestions\n- Optional improvements\n- Non-urgent requests\n\nIMPORTANT:\nReturn ONLY one word:\nHIGH\nor\nMEDIUM\nor\nLOW\n\nDo not add explanations.\nDo not add JSON.\nDo not add markdown.\nDo not add extra text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -672,
        -288
      ],
      "id": "ee46d815-ac9c-48dd-bb05-d4e2ba60d912",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -672,
        -112
      ],
      "id": "97fc29cb-25c7-4c84-92ec-e1ef8e989645",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "ibtqQVuB5AbaPZR9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU",
          "mode": "list",
          "cachedResultName": "N8N AI Automations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Smart Task Manager",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Description": "={{ $json['Task Description'] }}",
            "Task": "={{ $json['Task Title'] }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Task",
              "displayName": "Task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -880,
        -96
      ],
      "id": "6a410423-20ba-4b97-aac1-29773dbc5efc",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tXaaZLSpu5uofMkY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU",
          "mode": "list",
          "cachedResultName": "N8N AI Automations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Smart Task Manager",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Priority": "={{ $json.output }}",
            "Name": "={{ $('On form submission').item.json.Name }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Task",
              "displayName": "Task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        -272
      ],
      "id": "3e681f07-485c-4d9d-8c0c-2483b8ab515e",
      "name": "Priority High",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tXaaZLSpu5uofMkY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Department Classifier.\n\nYou will receive:\n- Task Title\n- Task Description\n\nTitle: {{ $('On form submission').item.json['Task Title'] }}\nDescription: {{ $('On form submission').item.json['Task Description'] }}\n\nYour job is to detect the correct department for this task.\n\nDepartment Rules:\n\nIT:\n- Technical problems\n- Bugs\n- Websites\n- Servers\n- Software\n- Login issues\n- Databases\n- AI systems\n\nHR:\n- Employee issues\n- Hiring\n- Leave requests\n- Attendance\n- Interviews\n- Payroll\n\nFinance:\n- Payments\n- Invoices\n- Salary\n- Taxes\n- Budgets\n- Fee issues\n\nMarketing:\n- Ads\n- Social media\n- Campaigns\n- Branding\n- Promotions\n- SEO\n\nSales:\n- Leads\n- Clients\n- Customer deals\n- Product selling\n- Outreach\n\nSupport:\n- Customer complaints\n- Helpdesk\n- User support\n- Troubleshooting\n\nOperations:\n- Internal management\n- Logistics\n- Workflow management\n- Scheduling\n\nGeneral:\n- If no clear department is found\n\nIMPORTANT:\nReturn ONLY one word from this list:\nIT\nHR\nFinance\nMarketing\nSales\nSupport\nOperations\nGeneral\n\nDo not add explanations.\nDo not add JSON.\nDo not add markdown.\nDo not add extra text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -672,
        112
      ],
      "id": "b2893564-c5d4-439f-85dc-a644543e5ec4",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -672,
        288
      ],
      "id": "be408f94-8cf7-4c84-aa13-916fe6e2e7c4",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "ibtqQVuB5AbaPZR9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU",
          "mode": "list",
          "cachedResultName": "N8N AI Automations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Smart Task Manager",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Priority": "={{ $json.output }}",
            "Name": "={{ $('On form submission').item.json.Name }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Task",
              "displayName": "Task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        -96
      ],
      "id": "2a23ffb5-0a4d-4f5d-876d-d84c73d4e814",
      "name": "Priority Medium",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tXaaZLSpu5uofMkY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU",
          "mode": "list",
          "cachedResultName": "N8N AI Automations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Smart Task Manager",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Priority": "={{ $json.output }}",
            "Name": "={{ $('On form submission').item.json.Name }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Task",
              "displayName": "Task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        96
      ],
      "id": "8dfbbba9-f83f-4c3f-825e-9423e8a88a31",
      "name": "Priority Low",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tXaaZLSpu5uofMkY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU",
          "mode": "list",
          "cachedResultName": "N8N AI Automations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Smart Task Manager",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bv5nub56mNWLJMGuVF7EnN8A8zLTGDuQmaOYQ5qgPtU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Priority": "=",
            "Department": "={{ $json.output }}",
            "Name": "={{ $('On form submission').item.json.Name }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Task",
              "displayName": "Task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        112
      ],
      "id": "c0fcdb02-5d2b-4f71-9514-a247f03239fe",
      "name": "Department",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tXaaZLSpu5uofMkY",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Priority High",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Priority Medium",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Priority Low",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Department",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "093e19b9-e561-4775-8f7e-f98afa5992ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe722380a1c13008728e66f831d8103d62a78824a8b9c557cf68a7a6d242c859"
  },
  "id": "p7hCk9sT26ctVDdt",
  "tags": []
}